. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.home {
  background-image: url(./img/main\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
body {
  font-family: "Roboto", sans-serif;
  color: rgb(49, 43, 43);
  background-color: whitesmoke;
}
header {
  display: flex;
  align-items: center;
  margin: auto;
  height: 10h;
  width: 90%;
}
.logo {
  flex: 1;
}
nav {
  flex: 2;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
  flex-wrap: wrap;
}
.nav-link {
  text-decoration: none;
  color: rgb(49, 43, 43);
}
.presentation {
  max-width: 90%;
  margin: auto;
  padding-top: 35%;
}
.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 150px;
  font-weight: 800;
}
.footer-list-descriere {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 50px;
  font-weight: 800;
}
.footer-list-contact {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-top: 10%;
  font-weight: 800;
}
input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: rgb(49, 43, 43);
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.servicii-list {
  margin: auto;
  width: 95%;
  color: rgb(49, 43, 43);
}
.descriere,
.contact-form {
  background-color: whitesmoke;
  color: rgb(49, 43, 43);
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  color: rgb(49, 43, 43);
}
